cosmos-installer: null
# Configuration for 2fauth setup

# Application Name
# Services used in the application
services:
  # The `app` service for the 2fauth application
  app:
    # Name of the container
    container_name: big-bear-2fauth
    # Docker image to be used
    image: 2fauth/2fauth:5.6.0
    # Restart policy for the service
    restart: unless-stopped
    # Port mappings for the service
    ports:
      - "8000:8000"
    # Network mode for the service
    network_mode: bridge
    # Volumes for the service HOST -> CONTAINER
    volumes:
      - big-bear-2fauth_data:/2fauth
    # Environment variables for the service
    environment:
      - APP_URL=http://[CHANGE_TO_LAN_IP]:8000
volumes:
  big-bear-2fauth_data:
    name: big-bear-2fauth_data
    driver: local
minVersion: 0.14.0
