cosmos-installer: null
# Configuration for big-bear-portainer setup
# Service definitions for the big-bear-portainer application
services:
  # Main Portainer service configuration
  app:
    container_name: big-bear-portainer # Name of the running container
    image: portainer/portainer-ce:2.38.0-alpine # Image to be used
    network_mode: bridge # Network mode to be used
    ports: # Port mapping between host and container
      - 8000:8000
      - 9000:9000
      - 9443:9443
    volumes:
      - big-bear-portainer_data:/data # Bind mount for Docker volumes
      - /var/run/docker.sock:/var/run/docker.sock # Bind mount for Docker socket
volumes:
  big-bear-portainer_data:
    name: big-bear-portainer_data
    driver: local
minVersion: 0.14.0
