cosmos-installer: null
name: big-bear-dashdot
services:
  app:
    image: mauricenino/dashdot:6.2.0
    ports:
      - "3001:3001"
    volumes:
      - big-bear-dashdot_data:/mnt/host
    privileged: true
volumes:
  big-bear-dashdot_data:
    name: big-bear-dashdot_data
    driver: local
minVersion: 0.14.0
