cosmos-installer: null
# Configuration for nextcloud-ls setup

# Name of the big-bear-nextcloud-ls application
# Service definitions for the big-bear-nextcloud-ls application
services:
  # Service name: big-bear-nextcloud-ls
  # The `big-bear-nextcloud-ls` service definition
  big-bear-nextcloud-ls:
    # Define the container name
    container_name: big-bear-nextcloud-ls
    # Use the nextcloud:28.0.1-apache image
    image: linuxserver/nextcloud:33.0.0
    # Restart the container unless stopped
    restart: unless-stopped
    # Map port 7580 on the host to port 80 on the container
    ports:
      - 10443:443
    # Mount the nextcloud-ls_data directory on the host to /var/www/html in the container
    volumes:
      - big-bear-nextcloud-ls_config:/config
      - big-bear-nextcloud-ls_data:/data
    # Set environment variables
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
volumes:
  big-bear-nextcloud-ls_config:
    name: big-bear-nextcloud-ls_config
    driver: local
  big-bear-nextcloud-ls_data:
    name: big-bear-nextcloud-ls_data
    driver: local
minVersion: 0.14.0
