cosmos-installer: null
# Configuration for dockge setup

# Name of the big-bear-dockge application
# Service definitions for the big-bear-dockge application
services:
  # Service name: app
  # The `app` service definition
  app:
    # Name of the container
    container_name: big-bear-dockge
    # Image to be used for the container
    image: louislam/dockge:1.5.0
    # Environment variables
    environment:
      # Tell Dockge where is your stacks directory
      DOCKGE_STACKS_DIR: "/DATA/AppData/big-bear-dockge/stacks"
    # Container restart policy
    restart: unless-stopped
    # Volumes to be mounted to the container
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - big-bear-dockge_data:/app/data
      - big-bear-dockge_stacks:/DATA/AppData/big-bear-dockge/stacks
    # Ports mapping between host and container
    ports:
      - 5001:5001
volumes:
  big-bear-dockge_data:
    name: big-bear-dockge_data
    driver: local
  big-bear-dockge_stacks:
    name: big-bear-dockge_stacks
    driver: local
minVersion: 0.14.0
