cosmos-installer: null
# big-bear-ntfy application configuration
name: big-bear-ntfy
# Services associated with the big-bear-ntfy application
services:
  # Main application service configuration
  app:
    # Docker image to be used for the service
    image: binwiederhier/ntfy:v2.14.0
    # Command to run inside the container
    command:
      - serve
    # Environment variables for the service
    environment:
      - TZ=UTC
    # Port configurations for the service
    ports:
      - target: 80 # Container port
        published: "7200" # Host port
        protocol: tcp # Protocol type
    # Restart policy for the service
    restart: unless-stopped
    # Volumes to be mounted inside the container
    volumes:
      - type: bind
        source: big-bear-ntfysh_cache
        target: /var/cache/ntfy
      - type: bind
        source: big-bear-ntfysh_config
        target: /etc/ntfy
volumes:
  big-bear-ntfysh_cache:
    name: big-bear-ntfysh_cache
    driver: local
  big-bear-ntfysh_config:
    name: big-bear-ntfysh_config
    driver: local
minVersion: 0.14.0
