cosmos-installer: null
# Configuration for obsidian-livesync setup

# Name of the big-bear-obsidian-livesync application
# Service definitions for the big-bear-obsidian-livesync application
services:
  # Service name: app
  # The `app` service definition
  app:
    # Name of the container
    container_name: obsidian-livesync
    # Image to be used for the container
    image: couchdb:3.5.0
    # Container restart policy
    restart: unless-stopped
    # Volumes to be mounted to the container
    volumes:
      - big-bear-obsidian-livesync_data_couchdb:/opt/couchdb/data
      - big-bear-obsidian-livesync_data_local.ini:/opt/couchdb/etc/local.ini
    environment:
      - COUCHDB_USER=casaos
      - COUCHDB_PASSWORD=casaos
    # Ports mapping between host and container
    ports:
      # Mapping port 5984 of the host to port 5984 of the container
      - "5984:5984"
volumes:
  big-bear-obsidian-livesync_data_couchdb:
    name: big-bear-obsidian-livesync_data_couchdb
    driver: local
  big-bear-obsidian-livesync_data_local.ini:
    name: big-bear-obsidian-livesync_data_local.ini
    driver: local
minVersion: 0.14.0
