cosmos-installer: null
# Configuration for obsidian setup

# Name of the big-bear-obsidian application
# Service definitions for the big-bear-obsidian application
services:
  # Service name: big-bear-obsidian
  # The `big-bear-obsidian` service definition
  big-bear-obsidian:
    # Name of the container
    container_name: big-bear-obsidian
    # Image to be used for the container
    image: linuxserver/obsidian:1.10.6
    # Container restart policy
    restart: unless-stopped
    # Environment variables
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    # Volumes to be mounted to the container
    volumes:
      - big-bear-obsidian_config:/config
    # Ports mapping between host and container
    ports:
      - 3000:3000
      - 3001:3001
volumes:
  big-bear-obsidian_config:
    name: big-bear-obsidian_config
    driver: local
minVersion: 0.14.0
