cosmos-installer: null
# Configuration for ayon setup

# Name of the big-bear-ayon application
# Service definitions for the big-bear-ayon application
services:
  # Service name: big-bear-ayon
  # The `big-bear-ayon` service definition
  big-bear-ayon:
    # Name of the container
    container_name: big-bear-ayon
    # Image to be used for the container
    image: ynput/ayon:1.3.6-20240823
    # Container restart policy
    restart: unless-stopped
    # Healthcheck configuration to ensure the service is running properly
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/api/info"]
      interval: 10s
      timeout: 2s
      retries: "3"
    # Volumes to be mounted to the container
    volumes:
      - "ayon_addons:/addons"
      - "ayon_storage:/storage"
      # comment out the following line on Windows
      - "/etc/localtime:/etc/localtime:ro"
    # Ports mapping between host and container
    ports:
      # Mapping port 5000 of the host to port 5000 of the container
      - "5000:5000"
    expose: ["5000"]
    networks:
      - big-bear-ayon-network
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
  # Service definition for the PostgreSQL database
  postgres:
    image: postgres:15-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=ayon
      - POSTGRES_PASSWORD=ayon
      - POSTGRES_DB=ayon
    volumes:
      - big-bear-ayon_postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ayon"]
      interval: 10s
      timeout: 5s
      retries: "5"
    expose: ["5432"]
    networks:
      - big-bear-ayon-network
  # Service definition for the Redis database
  redis:
    image: redis:7.4.6-alpine@sha256:7a7c6b5c49a6896d0a58ee0c6dc0dcabe14f30f0a2f7d2d1362d276fa2d43166
    container_name: redis
    restart: unless-stopped
    volumes:
      - big-bear-ayon_redis:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 5s
      timeout: 5s
      retries: "5"
    expose: ["6379"]
    networks:
      - big-bear-ayon-network
networks:
  big-bear-ayon-network:
    driver: bridge
volumes:
  big-bear-ayon_addons:
    name: big-bear-ayon_addons
    driver: local
  big-bear-ayon_postgres:
    name: big-bear-ayon_postgres
    driver: local
  big-bear-ayon_redis:
    name: big-bear-ayon_redis
    driver: local
  big-bear-ayon_storage:
    name: big-bear-ayon_storage
    driver: local
minVersion: 0.14.0
