cosmos-installer: null
# Configuration for tailscale setup

# Name of the big-bear-tailscale application
# Service definitions for the big-bear-tailscale application
services:
  # Service name: big-bear-tailscale
  # The `big-bear-tailscale` service definition
  big-bear-tailscale:
    # Name of the container
    container_name: big-bear-tailscale
    # Image to be used for the container
    image: tailscale/tailscale:v1.90.6
    # Container restart policy
    restart: unless-stopped
    # Environment variables for the container
    environment:
      - TS_SERVE_CONFIG=/config/serve-config.json
      - TS_ACCEPT_DNS=false
      - TS_AUTH_ONCE=false
      - TS_AUTHKEY=""
      - TS_HOSTNAME=""
      - TS_ROUTES=""
      - TS_EXTRA_ARGS=""
      - TS_USERSPACE=true
      - TS_STATE_DIR=/var/lib/tailscale
    # Volumes to be mounted to the container
    volumes:
      - big-bear-tailscale_state:/var/lib/tailscale
      - big-bear-tailscale_config:/config
      - big-bear-tailscale_shared:/shared
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
      - sys_module
volumes:
  big-bear-tailscale_config:
    name: big-bear-tailscale_config
    driver: local
  big-bear-tailscale_state:
    name: big-bear-tailscale_state
    driver: local
  big-bear-tailscale_shared:
    name: big-bear-tailscale_shared
    driver: local
minVersion: 0.14.0
