cosmos-installer: null
services:
  big-bear-jlesage-firefox:
    container_name: big-bear-jlesage-firefox # Name of the Docker container
    image: jlesage/firefox:v26.02.3 # Docker image for the Firefox browser
    ports:
      - "5800:5800" # Expose port 5800 for VNC access
    environment:
      - VNC_PASSWORD=casaos # Set the VNC password to 'casaos'
      - FF_OPEN_URL=https://community.bigbeartechworld.com/ # Set the default URL to Big Bear Tech World
    volumes:
      - big-bear-jlesage-firefox_config:/config:rw # Mount the host directory to the container's Downloads directory
volumes:
  big-bear-jlesage-firefox_config:
    name: big-bear-jlesage-firefox_config
    driver: local
minVersion: 0.14.0
