cosmos-installer: null
# Configuration for big-bear-mailpit setup
# Service definitions for the big-bear-mailpit application
services:
  # Service name: app
  app:
    image: axllent/mailpit:v1.29 # Image for the app service
    container_name: mailpit # Container name for the app service
    restart: unless-stopped # Restart policy for the container
    volumes: # Volumes to mount for the app service
      - big-bear-mailpit_data:/data
    environment: # Environment variables for the app service
      - TZ=UTC
    ports: # Ports to expose for the app service
      - "8025:8025"
      - "1025:1025"
volumes:
  big-bear-mailpit_data:
    name: big-bear-mailpit_data
    driver: local
minVersion: 0.14.0
