cosmos-installer: null
# Configuration for homarr setup

# Name of the big-bear-homarr application
# Service definitions for the big-bear-homarr application
services:
  # Service name: app
  # The `app` service definition
  app:
    # Name of the container
    container_name: homarr
    # Image to be used for the container
    image: ghcr.io/ajnart/homarr:0.16.1
    # Container restart policy
    restart: unless-stopped
    # Volumes to be mounted to the container
    volumes:
      # Mounting the local homarr/configs directory to /app/data/configs inside the container
      - big-bear-homarr_configs:/app/data/configs
      # Mounting the local homarr/icons directory to /app/public/icons inside the container
      - big-bear-homarr_icons:/app/public/icons
      # Mounting the local homarr/dat directory to /data inside the container
      - big-bear-homarr_data:/data
      # Mounting docker.sock to allow docker management via Homarr
      - /var/run/docker.sock:/var/run/docker.sock
    # Ports mapping between host and container
    ports:
      # Mapping port 7575 of the host to port 7575 of the container
      - "7575:7575"
volumes:
  big-bear-homarr_configs:
    name: big-bear-homarr_configs
    driver: local
  big-bear-homarr_data:
    name: big-bear-homarr_data
    driver: local
  big-bear-homarr_icons:
    name: big-bear-homarr_icons
    driver: local
minVersion: 0.14.0
