cosmos-installer: null
# Name of the convertx application
# Service definitions for the convertx application
services:
  # Main service configuration for the convertx application
  big-bear-convertx:
    # Name of the container
    container_name: big-bear-convertx
    # Image to be used for the container
    image: ghcr.io/c4illin/convertx:v0.17.0
    # Container restart policy - restarts the container unless manually stopped
    restart: unless-stopped
    # Map port 3000 on the host to port 3000 on the container
    ports:
      - "3000:3000"
    # Environment variables for the container
    environment:
      - JWT_SECRET=c8330437-e6ae-4cf0-9837-4d1326457e32 # will use randomUUID() if unset
      - HTTP_ALLOWED=true
    # Volume mappings for data persistence
    volumes:
      - big-bear-convertx_data:/app/data
volumes:
  big-bear-convertx_data:
    name: big-bear-convertx_data
    driver: local
minVersion: 0.14.0
