cosmos-installer: null
# Configuration for big-bear-actual-server setup
# Service definitions for the big-bear-actual-server application
services:
  # Service name: app
  app:
    image: actualbudget/actual-server:26.2.0 # The Docker image to use (latest version of actual-server)
    container_name: actual-server # Name of the container instance
    volumes:
      - big-bear-actual-server_data:/data # Mounting the data volume
    ports:
      - "5006:5006" # Expose actual-server's port 5006 on the host's port 5006
    restart: unless-stopped # Policy to restart the container if it stops unexpectedly
# Named volumes for persistent data
volumes:
  big-bear-actual-server_data:
    name: big-bear-actual-server_data
    driver: local
minVersion: 0.14.0
